#Poloska{
	width:1350px;
	height:30px;
	background-image:url("00.jpg");
	
}
.C{
	display:block;
	float:left;
	text-align:top;
	margin-top:5px;
	margin-left:100px;
}
/*POLOSKA*/
#A1{
	display:block;
	float:left;
	text-align:top;
	margin-top:5px;
	margin-left:100px;
	width:65px;
	height:20px;
}
#A2{
	display:block;
	float:left;
	text-align:top;
	margin-top:4px;
	margin-left:-40px;
	width:64px;
	height:23px;
}
#A3{
	display:block;
	float:left;
	text-align:top;
	margin-top:7px;
	margin-left:-35px;
	width:46px;
	height:15px;
}
#A4{
	display:block;
	float:left;
	text-align:top;
	margin-top:7px;
	margin-left:-20px;
	width:55px;
	height:19px;
}
#A5{
	display:block;
	float:left;
	text-align:top;
	margin-top:6px;
	margin-left:-29px;
	width:55px;
	height:19px;
}
#A6{
	display:block;
	float:left;
	text-align:top;
	margin-top:6px;
	margin-left:-29px;
	width:55px;
	height:19px;
}
#A7{
	display:block;
	float:left;
	text-align:top;
	margin-top:6px;
	margin-left:-29px;
	width:55px;
	height:19px;
}
#A8{
	display:block;
	float:left;
	text-align:top;
	margin-top:6px;
	margin-left:-29px;
	width:55px;
	height:19px;
}
#A9{
	display:block;
	float:left;
	text-align:top;
	margin-top:6px;
	margin-left:-29px;
	width:55px;
	height:19px;
}
#A10{
	display:block;
	float:left;
	text-align:top;
	margin-top:6px;
	margin-left:-29px;
	width:55px;
	height:19px;
}
#A11{
	display:block;
	float:right;
	text-align:top;
	margin-top:6px;
	margin-right:100px;
	width:70px;
	height:19px;
}
#block11{
	color:#7e5505;
	margin-top:40px;
	float:left;
	margin-left:-80px;
	font-size:12pt;
}
#block12{
	color:#7e5505;
	margin-top:40px;
	float:left;
	margin-left:20px;
	font-size:12pt;
}
#block13{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
#block14{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
#block15{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
#block16{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
/*POLOSKA END*/


#B{
	display:block;
	float:right;
	text-align:top;
	margin-top:5px;
	margin-right:100px;
}
#C{
	display:block;
	float:left;
	text-align:top;
	margin-top:5px;
	margin-left:10px;
}
#logo{
	display:block;
	float:left;
	text-align:top;
	margin-left:-290px;
	margin-top:40px;
	height:25px;
	width:700px;
}
#a1{
	display:block;
	float:right;
	margin-left:350px;
	margin-top:200px;
	margin-right:-650px;
	height:70px;
	width:1250px;
}
#a2{
	display:block;
	float:right;
	margin-left:350px;
	margin-top:40px;
	margin-right:-1460px;
	height:35px;
	width:2050px;
}
#a3{
	display:block;
	float:right;
	margin-left:350px;
	margin-top:40px;
	margin-right:-1460px;
	height:35px;
	width:2050px;
}
#b2{
	display:block;
	margin-top:1px;
	width:400%;
	height:350px;
}
.block1{
	margin-top:100px;
	width:100%;
	height:750px;
	background-image: url("123.jpg");
	
}
.block3{
	margin-top:-32px;
	width:100%;
	height:610px;
	background-image: url("32.jpg");
}
#text_block31{
	margin-left:450px;
	margin-right:50px;
	font-size:16pt;
	color:white;
}
#text_block3{

	margin-left:40%;
	font-size:24pt;
	color:red;
}
#b33{
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	color:white;
	background-color:rgba(126, 84, 5, 0.9);
	width:150px;
	height:45px;
	float:left;
	margin-left:20px;
	margin-top:100px;	
}
#block32{
	float:left;
	width:32%;
	height:610px;
	background-image: url("31.jpg");
}
img{
	display:block;
	width:25%;height:100%;float:left;
}
#valik{
	display:block;
	float:left;
	text-align:top;
	margin-left:30px;
}
a{
	text-decoration:none;
	color:black;
}
/*block 4*/
.block4{
	display:block;
	margin-top:100px;
	text-align:center;
	font-size:24pt;
	color:black;
}
.lin{
	margin-top:-40px;
	text-align:center;
	color:SaddleBrown;
	font-weight:bolder;
	font-size:10pt;
}

/**/
#block41{
	display:block;
	margin-top:10px;
	float:left;
	margin-left:150px;
	width:530px;
	height:150px;
}
#text_block41{
	display:block;
	float:left;
	margin-top:200px;
	margin-left:-500px;
	font-size:12pt;
}
#lin1{
	display:block;
	margin-top:220px;
	float:left;
	margin-left:-480px;
	color:SaddleBrown;
	font-weight:bolder;
	font-size:12pt
}
#text_block411{
	display:block;
	float:left;
	margin-top:250px;
	margin-left:-510px;
	font-size:12pt;
}
/**/
#block42{
	display:block;
	margin-top:-180px;
	float:left;
	margin-left:200px;
	width:530px;
	height:150px;
}
#text_block42{
	display:block;
	float:left;
	margin-top:10px;
	margin-left:-500px;
	font-size:12pt;
}
#lin2{
	display:block;
	margin-top:30px;
	float:left;
	margin-left:-485px;
	color:SaddleBrown;
	font-weight:bolder;
	font-size:12pt
}
#text_block422{
	display:block;
	float:left;
	margin-top:60px;
	margin-left:-486px;
	font-size:12pt;
}
/**/
#block43{
	display:block;
	margin-top:-180px;
	float:left;
	margin-left:200px;
	width:530px;
	height:150px;
}
#text_block43{
	display:block;
	float:left;
	margin-top:10px;
	margin-left:-510px;
	font-size:12pt;
}
#lin3{
	display:block;
	margin-top:30px;
	float:left;
	margin-left:-485px;
	color:SaddleBrown;
	font-weight:bolder;
	font-size:12pt
}
#text_block433{
	display:block;
	float:left;
	margin-top:60px;
	margin-left:-490px;
	font-size:12pt;
}
/**/
#block44{
	display:block;
	margin-top:-275px;
	float:left;
	margin-left:1050px;
	width:530px;
	height:150px;
}
#text_block44{
	position:absolute;
	left:1050px;
	top:2150px;
}
#lin4{
	display:block;
	margin-top:30px;
	float:left;
	margin-left:-485px;
	color:#7e5505;
	font-weight:bolder;
	font-size:12pt
}
#text_block444{
	display:block;
	float:left;
	margin-top:60px;
	margin-left:-490px;
	font-size:12pt;
}
/**/
/*block 4end*/

/*block 5*/
.block5{
	display:block;
	margin-top:400px;
	width:1350px;
	height:150px;
	background-image: url("51.jpg");
}
#text_block50{
	float:left;
	margin-top:45px;
	margin-left:190px;
	font-size:16pt;
	font-weight:bold;
	color:white;
}
#text_block51{
	float:left;
	margin-top:75px;
	margin-left:-276px;
	font-size:12pt;
	color:white;
}
#text_block52{
	float:left;
	margin-top:105px;
	margin-left:-350px;
	font-size:12pt;
	color:white;
}
#block51{
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	color:rgba(126, 84, 5, 0.9);
	background-color:white;
	width:140px;
	height:50px;
	float:left;
	margin-left:550px;
	margin-top:50px;
}
/*block 5end*/
/*block 6*/
.block6{
	background-image:url("mod5-bg.jpg");
	width:100%;
	height:600px;
}
#block61{
	margin-top:100px;
	float:left;
	margin-left:150px;
	width:1100px;
	height:500px;
}
#zag10{
	color:#696969;
	float:left;
	margin-left:700px;
	margin-right:200px;
	margin-top:-450px;

}
#zag{
	color:#696969;
	float:left;
	margin-left:700px;
	margin-right:100px;
	margin-top:-500px;
	font-size:24pt;
}
#number1{
	color:rgba(126, 84, 5, 0.9);
	float:left;
	font-size:46pt;
	margin-top:-370px;
	margin-left:700px;
}
#number11{
	color:#696969;
	float:left;
	margin-top:-345px;
	margin-left:750px;
}
#number111{
	color:#696969;
	float:left;
	margin-top:-310px;
	margin-left:700px;
	margin-right:400px;
}
#number2{
	color:rgba(126, 84, 5, 0.9);
	float:left;
	font-size:46pt;
	margin-top:-370px;
	margin-left:1000px;
}
#number22{
	color:#696969;
	float:left;
	margin-top:-345px;
	margin-left:1050px;
}
#number222{
	color:#696969;
	float:left;
	margin-top:-310px;
	margin-left:1000px;
	margin-right:100px;
}
#number3{
	color:rgba(126, 84, 5, 0.9);
	float:left;
	font-size:46pt;
	margin-top:-170px;
	margin-left:700px;
}
#number33{
	color:#696969;
	float:left;
	margin-top:-145px;
	margin-left:750px;
}
#number333{
	color:#696969;
	float:left;
	margin-top:-110px;
	margin-left:700px;
	margin-right:400px;
}
#number4{
	color:rgba(126, 84, 5, 0.9);
	float:left;
	font-size:46pt;
	margin-top:-170px;
	margin-left:1000px;
}
#number44{
	color:#696969;
	float:left;
	margin-top:-145px;
	margin-left:1050px;
}
#number444{
	color:#696969;
	float:left;
	margin-top:-110px;
	margin-left:1000px;
	margin-right:100px;
}
.block7{
	background-image:url("7.jpg");
	width:1350px;
	height:480px;
}
/*block 6end*/
.ttt{
	visibility:hidden;
	background-color:#7e5505;
	width:30%;
	height:100px;
	margin-top:50px;
}
a:hover{
	text-decoration:underline;
	color:blue;
}

body{
	overflow-x:hidden;
	margin:auto;
}
.h1{
	color:white;
	width:100%;
	height:400px;
	background-color:gray;
}
td{
	padding:10px;
	border-bottom:2px solid white;
}
#z0{
	border-bottom:none;
}
#ne_h11{
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	color:white;
	background-color:rgba(126, 84, 5, 0.9);
	width:200px;
	height:50px;
	float:left;
	margin-left:750px;
	margin-top:30px;
}

#h1:hover{
	transition:0.4s;
	color:black;
	background-color:white;
}
#b33:hover{
	text-decoration:none;
	transition:0.4s;
	color:black;
	background-color:white;
}
#block51:hover{
	text-decoration:none;
	transition:0.4s;
	color:white;
	background-color:#696969;
}
.misce_h1{
	float:left;
	margin-left:480px;
	margin-top:-140px;
}
#misc00{
	font-size:18pt;
	float:left;
	margin-left:480px;
	margin-top:-140px;
}
#misc1{
	float:left;
	margin-top:30px;
	margin-left:-10px;
}
#misc2{
	float:left;
	margin-top:80px;
	margin-left:-130px;
}
#misc3{
	float:left;
	margin-top:120px;
	margin-left:-130px;
}
#misc4{
	float:left;
	margin-top:160px;
	margin-left:-130px;
}
#misc5{
	float:left;
	margin-top:200px;
	margin-left:-130px;
}
#logo2
{
	float:left;
	margin-top:100px;
	margin-left:150px;
	width:700px;
	height:50px;
}
#logo21{
	float:left;
	margin-top:10px;
	margin-left:150px;
	margin-right:1000px;
	
}
#zag01
{
	font-size:18pt;
	float:left;
	margin-left:700px;
	margin-top:-247px;
}
#zag02{
	float:left;
	margin-left:700px;
	margin-top:-200px;
	margin-right:340px;
}
#zag03{
	font-size:18pt;
	float:left;
	margin-left:1000px;
	margin-top:-247px;
}
#block00011{
	background-color:black;
	width:100%;
	margin-top:-30px;
	height:600px;
}
#block0011{
	color:#7e5505;
	margin-top:40px;
	float:left;
	margin-left:780px;
	font-size:12pt;
}
.block0012{
	color:#7e5505;
	margin-top:40px;
	float:left;
	margin-left:20px;
	font-size:12pt;
}
.block0012:hover{
	text-decoration:none;
	color:white;
}
#block0013{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
#block0014{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
#block0015{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
#block0016{
	margin-top:40px;
	float:left;
	margin-left:30px;
	font-size:12pt;
}
