	   <div id="Poloska">
		<p id="A1"><a href="https://www.facebook.com/"> <img src="assets\img\01.jpg"> </a></p>
		<p id="A2"><a href="https://www.facebook.com/"> <img src="assets\img\02.jpg"> </a></p>
		<p id="A3"><a href="https://www.facebook.com/"> <img src="assets\img\03.jpg"> </a></p>
		<p id="A4"><a href="https://www.facebook.com/"> <img src="assets\img\04.jpg"> </a></p>
		<p id="A5"><a href="https://www.facebook.com/"> <img src="assets\img\05.jpg"> </a></p>
		<p id="A6"><a href="https://www.facebook.com/"> <img src="assets\img\06.jpg"> </a></p>
		<p id="A7"><a href="https://www.facebook.com/"> <img src="assets\img\07.jpg"> </a></p>
		<p id="A8"><a href="https://www.facebook.com/"> <img src="assets\img\08.jpg"> </a></p>
		<p id="A9"><a href="https://www.facebook.com/"> <img src="assets\img\09.jpg"> </a></p>
		<p id="A10"><a href="https://www.facebook.com/"> <img src="assets\img\010.jpg"> </a></p>
		<p id="A11"><img src="assets\img\011.jpg"></p>
	   
	   </div>
	   <div>
	   
			<p id="logo"><a href="#"> <img src="assets\img\logo.png"/></a></p>
			<p id="block11"><a href="#">Homepage</a></p>
			<p id="block12"><a href="#">About Us</a></p>
			<p id="block13"><a href="#">Lawyers</a></p>
			<p id="block14"><a href="#">Services</a></p>
			<p id="block15">Blog</p>
			<p id="block16">Contact</p>
	   </div>
	   <div class = "block1">
	     
		 <span id="a1"><img src="assets\img\11.jpg"></span>
		 <span id="a2"><img src="assets\img\12.jpg"></span>
		 <a href="#" id="ne_h11">Theme Features</a>
	   </div>
	   <div id = "ttt"></div>
	   
	   <div>
			<span id="b2"><img src="assets\img\21.jpg"></span>
	   </div>
	   <div class = "block3">
		<span id="block32"></span>
		<p id="text_block3">Knowledge & Experience</p>	
		<p id="text_block31">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi dolor, malesuada id metus a,
		mattis eleifend elit. Nullam pharetra consequat ex in dapibus. Vestibulum ante ipsum primis in faucibus 
		orci luctus et ultrices posuere cubilia Curae; Vivamus lacinia dui tellus. Donec condimentum vel diam eget
		accumsan. Fusce sit amet nunc fermentum, mattis lacus eu, euismod ipsum. Nam tincidunt leo sed lorem ultricies molestie.
		In in turpis id risus lacinia finibus eget eget eros. Mauris lobortis, tortor eu ornare convallis, mauris tortor blandit 
		orci, nec eleifend velit dolor sit amet nunc. Suspendisse vel ipsum tempor, volutpat arcu at, faucibus mi. In efficitur lorem
		mattis diam finibus finibus. Nunc tincidunt id eros non euismod. Sed tellus erat, varius et sollicitudin non, ullamcorper eget arcu.
		Mauris at lectus aliquet, vestibulum dui non, volutpat orci. Integer dapibus tincidunt ornare. Praesent blandit leo at turpis porta,
		a dignissim nunc consequat.
		</p>	
		<span><a href="#" id="b33">Contact us</a></span>
		</div>
		<!--<div class = "block4">
			<p>Meet Our Attorneys</p>
			<p class = "lin">______________</p>
			<p id="block41"><img src="assets\img\41.jpg"></p>
			<p id="text_block41">Alex Smith</p>
			<p id="lin1">____</p>
			<p id="text_block411">Owner, Partner</p>

			<p id="block42"><img src="assets\img\42.jpg"></p>
			<p id="text_block42">Susan Tylor</p>
			<p id="lin2">____</p>
			<p id="text_block422">CEO</p>
			
			<p id="block43"><img src="assets\img\43.jpg"></p>
			<p id="text_block43">George Smith</p>
			<p id="lin3">____</p>
			<p id="text_block433">Partner</p>
			
			<p id="block44"><img src="assets\img\43.jpg"></p>
			<p id="text_block44">rsgvdfgffsgfs</p>
			<p id="lin3">____</p>
			<p id="text_block444">Partner</p>
			
		</div>-->
	   